<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Currency For Date View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="all" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/currency">Get currencies</a></li>
                <li><a href="/currency/0">Get currency for date</a></li>
                <li class="active"><a href="/recurringCharges">Recurring charges</a></li>
            </ul>
        </div>
        <div class="lang">
            <span th:text="#{language}">Language </span>: <a href="?language=en">English</a> | <a href="?language=de">Deutsch</a>
        </div>
    </div>
</nav>
<h1 class="header" th:text="#{view.recurringChargesList}" />
    <span><a href="/addRecurringCharges">Add</a></span>
<div class="container">
    <table style="border: 1px solid black;">
        <tr>
            <th th:text="#{recurringCharge.name}">Name</th>
            <th th:text="#{recurringCharge.value}">Value</th>
            <th th:text="#{recurringCharge.recurrenceType}">Recurrence Type</th>
            <th th:text="#{recurringCharge.recurrenceMultiplication}">Recurrence Multiplication</th>
        </tr>
        <tr th:each="charge : ${charges}">
            <td th:text="${charge.name}" />
            <td th:classappend="${charge.income} ? positive : negative" th:text="${#numbers.formatDecimal(charge.value,3,2,'COMMA')}" />
            <td th:text="${charge.recurrence}" />
            <td th:text="${charge.recurrenceMultiplication}" />
        </tr>
    </table>
</div>
</body>
</html>
