th, td {
    text-align: right;
    padding: 0 0.5em;
    border: 1px black;
}

td{
    font-family: Verdana;
}

.blue{
    color:#0000FF;
}

.header{
    color:#FF0000;
    text-align:center;
}

.lang{
    color: white;
    float: right;
}

.positive{
    color: chartreuse;
}

.negative{
    color: crimson;
}